:root {
  --alertdialog-bg: #ffffff;
  --alertdialog-btn-hover: rgba(144, 202, 249, 0.08);
  --alertdialog-btn-hover: rgba(25, 118, 210, 0.04);
}

@media (prefers-color-scheme: dark) {
  :root {
    --alertdialog-bg: #383838;
    --alertdialog-btn-hover: rgba(144, 202, 249, 0.08);
  }
}

.alertdialog__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(32, 38, 45, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.alertdialog__wrapper {
  width: 80%;
  max-width: 600px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px, rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
  background-color: var(--alertdialog-bg);
}

.alertdialog__label {
  color: var(--text-primary);
  font-size: 1.25rem;
  line-height: 1.6;
  padding: 16px 24px;
  font-weight: 500;
}

.alertdialog__description {
  padding: 0 24px 16px;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-secondary);
}

.alertdialog__actions {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
}

.alertdialog__btn {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.75;
  text-transform: uppercase;
  color: var(--primary);
  border-radius: 4px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 6px 8px;
  transition: all 0.3s;
}

.alertdialog__btn:hover {
  background-color: var(--alertdialog-btn-hover);
}

.alertdialog__btn:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--outline);
}
