:root {
  --btn-text: #ffffff;
  --btn-bg-hover: #1565c0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --btn-text: rgba(0, 0, 0, 0.87);
    --btn-bg-hover: #42a5f5;
  }
}


.btn {
  background-color: var(--primary);
  color: var(--btn-text);
  border: none;
  padding: 6px 16px;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 500;
  min-width: 64px;
  line-height: 1.75;
  border-radius: 4px;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.btn:hover {
  background-color: var(--btn-bg-hover);
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--outline);
}

.btn:active {
  opacity: 0.7;
}