* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #1976d2;
  --secondary: #9c27b0;
  --error: #d32f2f;
  --warning: #ed6c02;
  --info: #0288d1;
  --success: #2e7d32;
  --text-primary: #212121;
  --text-secondary: #666666;
  --text-disabled: #9e9e9e;
  --background: #ffffff;

  --btn-text: #ffffff;
  --btn-bg-hover: #1565c0;
  --btn-outline: rgba(25, 118, 210, 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #90caf9;
    --secondary: #ce93d8;
    --error: #f44336;
    --warning: #ffa726;
    --info: #29b6f6;
    --success: #66bb6a;
    --text-primary: #ffffff;
    --text-secondary: #b6babf;
    --text-disabled: #858c94;
    --background: #0a1929;

    --btn-text: rgba(0, 0, 0, 0.87);
    --btn-bg-hover: #42a5f5;
    --btn-outline: rgba(144, 202, 249, 0.4);
  }
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: var(--background);
}

button, input, body, textarea {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
