.input__wrapper {
  width: 100%;
  position: relative;
  border-radius: 6px;
  border: 1px solid transparent;
}

.input__wrapper:focus-within {
  border-color: var(--primary);
}

.input__label {
  position: absolute;
  top: 0;
  left: 16.5px;
  color: var(--text-primary);
  font-size: 1rem;
  transform: translateY(-50%);
  background-color: var(--background);
  padding: 2px 6px;
}

.input__control {
  width: 100%;
  background-color: var(--background);
  border-radius: 4px;
  border: 1px solid var(--text-secondary);
  padding: 16.5px 14px;
  color: var(--text-primary);
  font-size: 1rem;
}

.input__control::placeholder {
  color: var(--text-secondary);
  font-size: 1rem;
}

.input__control:hover {
  border-color: var(--text-primary);
}

.input__control:focus {
  outline: none;
  border-color: var(--primary);
}

.input__description {
  font-size: 1rem;
  color: var(--text-secondary);
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);
}

.input__control[aria-required="true"] + .input__label::after {
  content: '(obrigatório)';
  color: var(--secondary);
  margin-left: 0.2rem;
}

.input__control:focus + .input__label, 
.input__control:focus + .input__label::after {
  color: var(--primary);
}

.input__control[aria-invalid="true"] {
  border-color: var(--error);
}

.input__control[aria-invalid="true"] + .input__label,
.input__control[aria-invalid="true"] + .input__label::after {
  color: var(--error);
}

.input__error {
  position: absolute;
  color: var(--error);
  font-size: 1rem;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
}

