.radio__container {
  width: 80%;
  max-width: 280px;
  margin: 0 auto;
  align-items: flex-start;
}

.radio__wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.radio__label {
  color: var(--text-primary);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin-left: 9px;
  cursor: inherit;
}

.radio__control {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--text-secondary);
  cursor: inherit;
  position: relative;
  transition: all 0.2s;
}

.radio__control:checked {
  border-color: var(--primary);
}

.radio__control::after {
  position: absolute;
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--primary);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s;
  opacity: 0;
}

.radio__control:checked::after {
  opacity: 1;
}

.radio__control:focus {
  outline: none;
  box-shadow: 0 0 0 8px var(--outline);
}

.radio__control:hover:not(.radio__control:focus) {
  box-shadow: 0 0 0 6px var(--outline);
}
